.header-logo {
    margin: 0;
    width: 143px;
}

.header-logo:hover {
    opacity: .7;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.header-logo > a > img {
    margin: 0;
    border: none;
    height: 30px;
    width: 143px;
}

.header-container {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(https://glnmedia.s3.amazonaws.com/monarch/app/main-bkg-sm-lt.png) top center no-repeat,
        var(--primary-shade2);
}

.header-wrapper {
    width: 90%;
    max-width: 1200px;
    height: auto;
    min-height: 360px;
    margin: 0 auto;
    padding: 0;
}

.main-menu-item {
    padding: 0 45px;
    white-space: nowrap;
}

a > .main-menu-item:hover {
    opacity: .7;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.main-nav {
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px 0;
}

.main-nav-button {
    padding: 0 20px;
    white-space: nowrap;
}

.header-nav-group-right,
.header-nav-group-left {
    align-items: center;
    height: 34px;
}

.header-page-title-wrapper {
    height: 200px;
    align-items: center;
}



@media screen and (max-width: 1200px) {

    .main-nav {
        margin: 20px 10px 0;
    }

}


@media screen and (max-width: 450px) {

    .main-menu-item {
        padding: 0 10px;
    }

    .header-page-title-wrapper {
        height: 160px;
        padding: 0 10px;
    }

}
